<nav class="nav has-shadow">
    <div class="container">
        <div class="nav-left"></div>
        <div class="nav-center">
            <p class="nav-item"><strong>Categories</strong></p>
        </div>
        <div class="nav-right">
            <a class="nav-item" ui-sref="home">
                Home
            </a>
            <a class="nav-item is-tab is-active" ui-sref="category">
                Menu Categories
            </a>
        </div>
    </div>
</nav>

<section class="section">
    <!-- Categories Component -->
    <categories categories="cList.categories"></categories>
</section>
