<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

    <title>Module 1 - Lunch Check App</title>

    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <style>
        h6 {color: #9d9d9d}
        .material-icons {font-size: 0.95em; vertical-align: bottom}
    </style>
</head>
<body ng-app="LunchCheck">
    <div ng-controller="LunchCheckController" class="container">
        <h4>Simple Lunch Checker App</h4>
        <h6>
            <i class="material-icons">info_outline</i>
            I do NOT consider an empty item, i.e., `, ,` as an item towards to the count</h6>
        <!--
            I do NOT consider and empty item, i.e., `, ,` as an item towards to the count
         -->
        <input type="text" ng-model="lunchItems"/>
        <br>
        <button ng-click="countLunchItems()" class="btn">Check If Too Much</button> &nbsp; {{message}}
    </div>
</body>
</html>